@tailwind base;
@tailwind components;
@tailwind utilities;

.drop-shadow-big {
  filter: drop-shadow(3px 8px 4px #1e1f1fa9);
}

.glass-dark {
  background: rgba(0, 38, 41, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
}

.glass-light {
  background: rgba(37, 240, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
}
